

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.container{
    width: 100%;
   
}

#board{
    /* background-color: skyblue; */
    background-image: url('./flappybirdbg.png');
     position: relative;
     height: 705px;
    
}
#score_span{
    font-weight: bold;
    font-size: 1.5rem ;
}
.modal_text{
    font-size: x-large;
    font-family: monospace;
    margin-bottom: 5px;
}
.modal_subtitle{
    background-color: #FC6600;
    color: white;
    padding: 5px;
    border-radius: 8px;
}
.modal{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: none;
    align-items: center;
}
.modal_box{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 12px;
}
.modal_text{
    font-weight: bold;
}
.openModal{
    display: flex;
}

@media screen and (max-width: 360px) {
    #board{
        width: 360px;
        height: 600px;
    }
    .modal_box{
        width: 250px;
    }
    .modal_text{
        font-weight: bold;
    }
    .modal_text{
        font-size: large;
        font-family: monospace;
        margin-bottom: 5px;
    }
    #score_span{
        font-weight: bold;
        font-size: 1rem ;
    }
    .modal_subtitle{
        background-color: #FC6600;
        color: white;
        padding: 5px;
        border-radius: 8px;
        font-size: small;
    }
}